banner {
    background: radial-gradient(ellipse at center, #022227 50%, #000000 100%);
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    place-items: center;
}

@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}

h1 {
    margin: 0;
    font-family: "Montserrat", sens serif;
    font-size: 25vh;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: url("images/bg-file.jpg");
    background-size: auto 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}
