/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Mono', monospace;
line-height: 1.5em;}

html{background-color: #0f172a;}
.banner {
    background: radial-gradient(ellipse at center, #a0a7b4 30%, #000000 100%);
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
}
@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}
h1 {
    font-size: 25vh;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: url("images/bg-file.jpg");
    background-size: auto 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}
.content p{font-size: 18px;
color:#212121;
line-height: 1.6em;
text-decoration: overline #212121 double;
}
/* flip card */
.flip-card {
    background-color: green;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
    margin-top: -80px;
    border-radius: 50%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50%;

  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fff;
    color: black;

  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: #0f172a;
    transform: rotateY(180deg);
    border-radius: 50%;
    padding: 70px;
  }
  